{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="my-5" style="text-align:justify">
        <p>As the name represents, this is my blog.</p>
        <p>I am Arshdeep Kaur. After two years of work experience in academic content creation, I decided to enhance my skills in python to the higher level. 
          I have built almost 100 python projects. After creating more than 5 websites on local server, Arsh's Blog is my first deployed website.</p>
        <p> If you find any of post interesting, then please share your thoughts via comment (Don't forget to register your email address).</p>
        <p>I am currently looking for a full time job as a python developer. If you find my work interesting and you have an open position in your company, I will be very thankful to be a part of the same. 
          To connect with me, please visit my contact webpage. Thank you!</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class = "container align-items-center">
        <img style="width:100%" src="https://pbs.twimg.com/profile_images/1668465413380882432/GozQDmQo_400x400.jpg">
        </div>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}