{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contact Me</h1>
            <span class="subheading">Looking forward to connect? Here are the details that might help.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 px-5 mx-auto">
        <h3>Want to get in touch?</h3>
        <div class="container my-4" style="text-align:justify">
          <p>Hey, thanks for approaching and showing your interesting of connecting with me. 
            I am more than happy to connect with you. I am open to suggestions for improving this blog 
            and enhancing my skills.</p>
          <p> If you are approaching with any advice or any job opportunity please click on the button below to contact with me.</p>
          <div class="email">
            <button type="button" class="w-70 btn contact btn-lg btn-primary" onclick="location.href='mailto:kaurarshdeep0103@gmail.com';">
              Drop an email</button>
          </div>
          </div>
          <p>
        </div>
      </div>
    </div>

  <hr>

  {% include "footer.html" %}